<div class="container" style="width: 400px; margin: 10px 0;" > 
  <%= simple_form_for @car do |f| %>
    <%= f.input :price %>
    <%= f.input :model %>
    <%= f.input :license %>
    <%= f.input :age %>
    <%= f.input :image_url %>
    <%= f.button :submit, class:"btn btn-primary"%>
  <% end %>
</div>
