<div id="wrapper">
  <div class="container d-flex justify-content-start ml-0">
    <img src=<%= @car.image_url %> alt="" style="width: 50%; border-radius: 8px; box-shadow: 1px 1px 8px #00000080">
    <div class="ml-5">
      <h1><%= @car.model %></h1>
      <p style="font-size: 50px; font-weight: bold;">$ <%= @car.price %></p>
      <p style="font-size: 16px; margin-bottom: 30px"><%= @car.age == 1 ? "#{@car.age} year old" : "#{@car.age} years old" %></p>
    </div>
  </div>

  <hr>
  <h3 style="font-weight: bold;">My Bookings</h3>
  <% @car.bookings.each do |booking| %>
    <div class="card p-3 mt-3" style="position: relative;">
      <div>
        <p class="mb-0" style="font-weight: bold; font-size: 20px"><%= "#{booking.start_time} to #{booking.end_time}" %></p>
        <p class="mb-0" style="font-weight: light; font-size: 16px"><%= "#{booking.user.email}" %></p>
      </div>
      <a href=""></a>

      <div style="position: absolute; top: 8px; right: 12px">
        <%= link_to image_tag('https://icons-for-free.com/iconfiles/png/24/delete+remove+trash+trash+bin+trash+can+icon-1320073117929397588.png'), car_booking_path(@car, booking), method: :delete, data: { confirm: "You will lose this customer!"} %>
      </div>
    </div>
  <% end %>
</div>